---
import Layout from '@layouts/Layout.astro';
import Sock from '@components/Sock.astro';
import Table from '@components/Table.astro';
import FilaTable from '@components/FilaTable.astro';
import Loading from '@icons/loading.astro';

const metaTags = {
	title: "Positions on live",
	description : "live"
}

const { title, description } = metaTags
---

<Layout title={title} description={description}>
    <main>
        <h1>Live</h1>
        <div class="container">
          <section class="onboard">
            <h2  class="text-gradient" >Positions table.</h2>
            <Table>
              <FilaTable racerName='Sergio Perez' position='1'/>
              <FilaTable racerName='Lewis Hammilton' position='2'/>
              <FilaTable racerName='Max Verstapem' position='3'/>
              <FilaTable racerName='Ocon Nos' position='4'/>
            </Table>
          </section> 
          <section>
            <h2  class="text-gradient" >Live Events</h2>
            <div class="events-container">
              <ul class="crono">
                <Loading/>
              </ul>
            </div>
          </section>
        </div>
    </main>
</Layout>
<Sock />

<style is:inline>
    .crono {
        display: grid;
        grid-row-gap: 20px;
        margin-top: 39px;
        justify-content: center;
    }
    .crono li {
      list-style: none;
      padding: 10px;
      background-color: rgb(49 55 70 / 26%);
      border-radius: 10px;
    }
    .crono li:first-child {
      background: rgb(0 188 212 / 11%);
      border: solid 1px rgb(0 188 212 / 17%);
    }
    .iconEventUp {
      color: #4caf50;
    }

    .iconEventDown {
      color: #E91E63;
    }

    .iconEventDown, .iconEventUp {
      padding: 10px;
    }

    .events-container {
      max-height: 67vh;
      overflow-y: auto;
    }
    .events-container::-webkit-scrollbar {
      width: 9px;
      height: 2px;
      opacity: 0;
    }
    .events-container::-webkit-scrollbar-thumb:hover {
      background: #5233db;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
</style>