---
interface Props {
    href?: string | undefined;
}

const { href } = Astro.props;
---
{
    href ? <a class="button" href={href}><slot/></a> 
    : <button class="button"><slot/></button>
}

<style>
    .button {
        background: #7e52ff;
        border-radius: 10px;
        padding: 10px;
        margin: 18px;
        font-weight: 300;
        font-size: medium;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 200px;
        text-wrap: nowrap;
    }
    .button:hover {
        background-color: #8f6bff;
        transform: scale(1.02);
        transition: 0.3s;
        cursor: pointer;  
    }
</style>