---
interface Props {
	racerName: string;
	position: string;
}

const { racerName, position } = Astro.props;
---

<li class="fila">
    <span class="posicion">{position}</span>
    <p class="racer">{racerName}</p>
</li>