---
import Twitter from "@icons/Twitter.astro";
import Instagram from "@icons/Instagram.astro";
---

<footer>
    <section class="footer__container">
        <div class="legal">
            <ul>
                <li>
                    <a href="#">Aviso Legal</a> 
                </li>
                <li>
                    <a href="#">Cookies</a>
                </li>
            </ul>
            <a href="#"><Twitter/></a>
            <a href="#"><Instagram/></a>
        </div>
        <div class="credits">
            <p>
                This website is an independent source of information about <strong>Formula 1.</strong> It is not officially affiliated with or endorsed by Formula 1.
            </p>
        </div>
    </section>
</footer>

<style>
    footer {
        background: #0a0c124d;
        
    }
    .footer__container {
        display: flex;
        align-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;
        padding: 25px;
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
        
    }

    .footer__container>div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: auto;
    }

    .credits p {
        font-size: 15px;
        max-width: 350px;
        color: white;
        opacity: 0.7;
    }

    .legal li {
        padding-left: 15px;
    }
</style>