---
import Logo from '../components/icons/Logo.astro'
---

<header class="main-header">
    <div class="navbar_container">
        <a class="mh-logo" href="/">
            <Logo width='191px' height='auto'/>
        </a>
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li><a href="#">News</a></li>
                <li class="online"><a href="/live">Live</a></li>
            </ul>
        </nav>
    </div>
</header>

<style is:global>
    .main-header .navbar_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1470px;
        height: 67px;
    }
    .navbar_container {
        padding: 0px 22px;
        margin: 0 auto;
    }
    .main-nav ul {
        margin: 1em 0 0.5em;
        text-align: center;
    }
    .main-nav li {
        display: inline;
        position: relative;
    }
    .main-nav a {
        display: inline-block;
        padding: 0.5em 1.5em;
    }

    .main-nav a {
        font-size: 0.75em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-decoration: none;
    }
    a.mh-logo {
        height: auto;
    }

    ul.main-nav-list li.online:before,.offlive::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        right: 0;
        
    }
    ul.main-nav-list li.online:before {
        border-radius: 10px;
        background: #494949;
    }
    .offline::before {
        aspect-ratio: 1;
        border-radius: 50%;
        background: #E91E63;
        box-shadow: 0 0 0 0 #0004;
        animation: l1 1s infinite;
    }
        @keyframes l1 {
        100% {box-shadow: 0 0 0 20px #0000}
    }
</style>